@import "global.css";

.site-footer-nav .social-link-gh {
    padding: 0px
}

.social-link-gh svg {
    height: 1.6rem;
}

.site-footer-nav .social-link-so {
    padding: 0px
}

.social-link-so svg {
    height: 1.6rem;
}

.post-full-meta-reading-time {
    color: var(--blue);
}

.copyright-blurb {
    text-align: center;
    max-width: 375px;
    padding: 5px;
}

.author-card .author-profile-image {
    align-self: start;
}

.post-full-content pre {
    border: none;
}

pre[class*="language-"] {
    overflow-x: auto;
    overflow-y: hidden;
}

.post-full-footer {
    align-items: flex-start;
}

kbd
{
    font-size: 15px;
    line-height: 1.4;

    display: inline-block;

    margin: 0 .1em;
    padding: .1em .6em;

    color: #333;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;
       -moz-box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;
            box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;
    text-shadow: 0 1px 0 #fff;
}

span.emoji
{
    display: -moz-inline-box;
    display: inline-block;

    width: 1em;
    height: 1em;

    vertical-align: baseline;
    text-indent: -9999px;

    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-size: 1em;
    background-size: contain;

    -moz-box-orient: vertical;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

span.emoji-sizer
{
    font-size: 1em;
    line-height: .81em;

    margin: -2px 0;
}

span.emoji-outer
{
    display: -moz-inline-box;
    display: inline-block;

    width: 1em;
    height: 1em;

    *display: inline;
}

span.emoji-inner
{
    display: -moz-inline-box;
    display: inline-block;

    width: 100%;
    height: 100%;

    vertical-align: baseline;
    text-indent: -9999px;

    *vertical-align: auto;
    *zoom: 1;
}

img.emoji
{
    width: 1em;
    height: 1em;
}
