@import "global.css";

.site-footer-nav .social-link-gh {
    padding: 0px
}

.social-link-gh svg {
    height: 1.6rem;
}

.site-footer-nav .social-link-so {
    padding: 0px
}

.social-link-so svg {
    height: 1.6rem;
}

.post-full-meta-reading-time {
    color: var(--blue);
}

.copyright-blurb {
    text-align: center;
    max-width: 375px;
    padding: 5px;
}
